/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,7;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,7;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Poppins:ital,wght@0,100;0,200;0,7;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,7;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ///////////////////////////////////////// */
/* container */
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1540px !important;
    padding: 0 !important;
  }
}

@media (max-width: 576px) {
  .no-padding-container {
    padding: 0 !important;
  }
}

/* /////////////////// */
/* page styles */
.container {
  .banner {
    width: 100%;

    img {
      width: 100%;
    }
  }

  .about-methods {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: clamp(30px, 2.864583333333333vw, 55px);
    gap: clamp(10px, 0.78125vw, 15px);

    .about-method {
      width: 100%;
      border: 1px solid #f1f1f2;
      box-shadow: 0px 3px 4px 0px #00000008;
      border-radius: 12px;

      .about-method-collapse {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: none;
        outline: none;
        background: transparent;
        border-bottom: 1px solid #f1f1f2;
        padding: clamp(5px, 0.5208333333333333vw, 10px)
          clamp(20px, 1.5625vw, 30px);

        .method-image {
          display: flex;
          align-items: center;
          justify-content: start;
          gap: clamp(10px, 3.3333333333333335vw, 64px);

          img{
            width:  clamp( 78px, 10.208333333333334vw, 196px);
          }

          span {
            font-family: Alexandria;
            font-size: clamp( 12px, 1.0416666666666665vw, 20px);
            font-weight: 700;
            line-height: 14px;
            color: #000;
          }
        }

        .method-arrow{
            transform: rotate(0deg);
            transition: all 1s ease;
            svg{
                height: clamp( 6px, 0.5729166666666666vw, 11px);
                width: clamp( 12px, 1.0416666666666665vw, 20px);
            }
        }
      }
      
      .about-method-collapse:not(.collapsed){
        .method-arrow {
            transform: rotate(180deg);
            transition: all 1s ease;
          }
      }

      .collapse.show {
        width: 100%;
        padding: clamp(5px, 0.5208333333333333vw, 10px)
          clamp(20px, 1.5625vw, 30px);

        .method-body {
          display: flex;
          align-items: start;
          justify-content: start;
          font-family: Alexandria;
          font-size: clamp(10px, 0.8333333333333334vw, 16px);
          font-weight: 700;
          line-height: clamp(15px, 1.5625vw, 30px);
          color: #000;
          margin-top: 10px;

          * {
            font-family: Alexandria;
            font-size: clamp(10px, 0.8333333333333334vw, 16px);
            font-weight: 700;
            line-height: clamp(15px, 1.5625vw, 30px);
            color: #000;
          }
        }
      }
    }
  }
}
