/* //////////////////// */
/* dark mode */
body.dark {
  .breadcrumbs-div {
    background-color: var(--dark-mode-second);
    border: none;

    .breadcrumb {
      li:nth-child(4) {
        a {
            color: #fff !important;
        }
      }
      li:nth-child(3) {
        a {
            color: #ffffffcb !important;
        }
      }
      li:nth-child(2) {
        a {
            color: #ffffff8f !important;
        }
      }
      li:nth-child(1) {
        a {
            color: #ffffff28 !important;
        }
      }
    }
  }

  /* global order status */
  .order_status {
    .line {
      border-color: #fff;
    }

    .title {
      color: #fff;
    }
  }

  /* cart */
  .cartItems,
  .items,
  .checkout {
    border-color: var(--dark-mode-white);
  }

  .cartItems {
    .items {
      .item-container {
        border-color: var(--dark-mode-white);
        background-color: var(--dark-mode-second);
        .item {
          border-color: var(--dark-mode-white);

          .leftButtons {
            .input-quantity {
              border-color: var(--dark-mode-white);
              border-radius: 8px;

              input {
                background-color: var(--dark-mode-white-second);
                color: var(--main) !important;
              }
            }
          }

          .itemInfo {
            .info {
              h4 {
                color: #fff;
              }

              .cat {
                color: var(--dark-mode-white-second);
              }
            }
          }
        }

        .additions {
          .additions-head {
            span {
              color: #fff;
            }
          }

          .addition-items {
            .line {
              border-color: var(--dark-mode-white);
            }
            .addition-item {
              .addition-info {
                .addition-title {
                  .addition-title-text {
                    color: #fff;
                  }
                }

                .addition-price {
                  .old-price {
                    color: var(--dark-mode-white-second);
                  }

                  .newPrice {
                    color: #fff;
                  }
                }

                .addition-count {
                  .addition-count-text {
                    color: var(--main);
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .checkout {
    background-color: var(--dark-mode-second);

    .save-on {
      h4 {
        color: #fff;
      }

      .save-on-input {
        border-color: var(--dark-mode-white);

        input {
          color: #fff;
        }
      }
    }

    label {
      color: #fff;
    }

    .orderSummary {
      .checkoutContent {
        border-color: var(--dark-mode-white);

        .line {
          border-color: var(--dark-mode-white);
        }

        .checkoutItem {
          span {
            color: #fff;
          }
        }
      }

      .checkoutButtons {
        a {
          .left {
            border-color: var(--dark-mode-white);
            span {
              color: #fff;
            }
          }
        }
      }
    }
  }

  /* address */
  .changeLocation {

    border: 1px solid var(--dark-mode-white);

     div {
      .locationDec {
        span {
          color: #fff;
        }

        p {
          color: #ffffffb6;
        }
      }
    }


  }
  
  .section-header {
    .arrow {
      color: #fff;
    }

    span {
      color: #fff;
    }

    .LocationLine {
      border-top: 1px solid var(--dark-mode-white);
    }
  }
  
  .section-items {
    .location-form-group > label {
      background-color: var(--main-dark);
      color: #ffffffb6;
    }
    
    .location-form-group > input {
      border: 1px solid var(--dark-mode-white) !important;
    }

    .location-form-group > select {
      border: 1px solid var(--dark-mode-white) !important;
    }
  }

  .checkoutButtons .goToShop {  
    border: 1px solid  var(--dark-mode-white);
    color: var(--dark-mode-white);
    
    svg{
      path{
        stroke: var(--dark-mode-white);
      }
    }
  }

  .saveLocation {
    color: #fff;
  }

  /* choose payment */
  .payments span {
    color: #fff;
  }
  
  .payments .payment-methods .method {
    border: 1px solid var(--dark-mode-white);
    background: var(--dark-mode-second);
  }
  
  .methods {
    div {
     background: var(--dark-mode-second);
     border: 1px solid var(--dark-mode-white);
     color: #fff;
   }
  }
  
  .choosed-method {
    border: 1px solid var(--dark-mode-white);
    color: #fff;
  }
}
