@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Kanit:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*import vendors*/
@import url(../css/vendors/normalize.css);
@import url(../css/vendors/bootstrap.rtl.min.css);
@import url(../css/vendors/uicons-regular-rounded.css);
@import url(../css/plugins/swiper-bundle.min.css);
@import url(../css/plugins/select2.min.css);
@import url(../css/plugins/slick.css);
@import url(../css/plugins/animate.min.css);
/*RESET*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

a{
    text-decoration: none;
}

/* cart breadcrumb */
.breadcrumbs-div {
  padding: 16px 0px;
  margin-bottom: 30px;
  background-color: #f0f3f8;
}

.breadcrumb {
  margin: 0px;
}
.breadcrumb li:last-child a {
  background-image: none;
}

body {
  line-height: 1;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}


/*COMPONENTS -> FORM*/
.form-control {
  border: 1px solid #dde4f0 !important;
}

.form-control::-webkit-date-and-time-value {
  color: #6b83b6;
  font-size: 14px;
  line-height: 18px;
}

.form-control::-moz-placeholder {
  color: #b2c2e1;
  font-size: 14px;
  line-height: 18px;
}

.form-control::placeholder {
  color: #b2c2e1;
  font-size: 14px;
  line-height: 18px;
}

.form-control:disabled,
.form-control[readonly] {
  color: #6b83b6;
  font-size: 14px;
  line-height: 18px;
}

/*select 2 style*/
.select2-container--open {
  margin-left: -200px;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  color: #425a8b;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  border-color: #425a8b transparent transparent transparent;
  border-width: 5px 5px 0 5px;
}

.select2-search--dropdown {
  padding: 0px;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #cad6ec;
  margin-bottom: 15px;
  border-radius: 4px;
  padding: 8px;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
  scrollbar-width: thin;
}

.select2-container--default
  .select2-results__option--highlighted[aria-selected] {
  background-color: #d5dfe4;
  color: #425a8b;
}

.select2-container {
  max-width: unset;
  min-width: 130px;
}


.select2-dropdown {
  border: 1px solid #ececec;
  border-radius: 0 0 4px 4px;
  padding: 15px;
  min-width: 220px;
  top: 8px;
}

.modal-header .btn-close {
  margin: -0.5rem 0rem -0.5rem -0.5rem;
}

.header {
  padding: 0px 0;
  float: left;
  width: 100%;
  position: relative;
  min-height: 53px;
}
.header .container {
  max-width: 92%;
}
.header .main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header .main-header .header-left {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px 0px;
}
.header .main-header .header-left .header-nav {
  display: inline-block;
  width: 45%;
  text-align: center;
}

/* header-shop section */
.header .main-header .header-left .header-shop {
  .icon-list {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
  }

  /* account icon Styles */
  .icon-container {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .icon-image {
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }

  .number-item {
    background-color: #fd9636;
    border-radius: 50%;
    position: absolute;
    top: -7px;
    left: 14px;
    width: 18px;
    height: 18px;
    color: #ffffff;
    text-align: center;
    line-height: 20px;
    display: inline-block;
  }
}

.header .nav-main-menu {
  width: auto;
  padding: 0px;
  float: none;
}
.header .burger-icon {
  display: none;
}
.header .main-menu {
  padding-top: 3px;
}
.header .main-menu li {
  float: left;
  position: relative;
  text-align: left;
}
.header .main-menu li.has-children > a::after {
  content: "\f151";
  font-family: Alexandria !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1 !important;
  font-size: 14px;
  opacity: 1;
  margin-left: 0px;
  position: relative;
  top: 2px;
}
.header .main-menu li.hr {
  padding: 0px 22px;
}
.header .main-menu li.hr span {
  background-color: #dde4f0;
  height: 1px;
  width: 100%;
  display: block;
  margin: 5px 0;
}
.header .main-menu li a {
  font-family: Alexandria, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #425a8b;
  line-height: 24px;
  display: block;
  padding: 13px 12px 13px 12px;
  text-decoration: none;
  position: relative;
}
.header .main-menu li a:hover {
  color: #fd9636;
}
.header .main-menu li a:hover i {
  opacity: 1;
  transition: 0.2s;
}
.header .main-menu li a i {
  font-size: 12px;
  margin-right: 8px;
  opacity: 0.38;
  transition: 0.2s;
}
.header .main-menu li ul {
  opacity: 0;
  visibility: hidden;
  transition-duration: 0.2s;
  position: absolute;
  top: calc(100% + 9px);
  right: 0px;
  z-index: 999999;
  min-width: 220px;
  border-radius: 0 0 4px 4px;
  padding: 8px 0px 8px 0;
  box-shadow: 0;
  background-color: #ffffff;
  border: 1px solid #d5dfe4;
}
.header .main-menu li ul li {
  width: 100%;
}
.header .main-menu li ul li a {
  font-size: 14px;
  color: #425a8b;
  position: relative;
  padding: 6px 22px 6px 22px;
  transition: 0.2s;
}
.header .main-menu li ul li a:hover {
  padding-left: 25px;
  transition: 0.2s;
}
.header .main-menu li ul li a.closer {
  padding: 8px 22px 8px 22px;
}
.header .main-menu li ul li ul {
  top: 0px;
  left: 100%;
}
.header .main-menu li:hover > ul {
  opacity: 1;
  visibility: visible;
}
.header .main-menu li:hover > ul li {
  width: 100%;
}

.header.stick {
  padding: 0px 0px;
}

.sticky-bar.stick {
  animation: 700ms ease-in-out 0s normal none 1 running fadeInDown;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  left: 0;
  transition: all 0.3s ease 0s;
  border-bottom: 1px solid #dde4f0;
  background: #fff;
}
.sticky-bar.stick.sticky-white-bg {
  background-color: #fff;
}
.sticky-bar.stick.sticky-blue-bg {
  background-color: #3286e0;
}

.perfect-scroll {
  height: 100vh;
  width: 300px;
  position: relative;
}

.body-overlay-1 {
  background: transparent;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  cursor: crosshair;
  z-index: 1002;
}

.mobile-menu-active .body-overlay-1 {
  opacity: 1;
  visibility: visible;
}

.header-top {
  background-color: #425a8b;
  color: #ffffff;
  padding: 10px 0px;
}
.header-top span {
  font-family: Alexandria, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}
.header-top a {
  color: #425a8b;
}
.header-top .line-right {
  position: relative;
  display: inline-block;
  padding-right: 35px;
}
.header-top .line-right::before {
  content: "";
  position: absolute;
  top: 5px;
  right: 15px;
  width: 1px;
  height: 18px;
  border-right: 1px dashed #425a8b;
}
.header-top.header-top-green {
  background-color: #425a8b;
}
.header-top.header-top-green a {
  color: #dde4f0;
}
.header-top.header-top-green .line-right::before {
  border-right: 1px dashed #dde4f0;
}

@media (min-width: 1400px) {
  .header-container .container {
    max-width: 1360px;
  }
}
.header-container .main-header .header-left .header-nav {
  width: 35%;
}
@media (min-width: 1550px) {
  .header-container .main-header .header-left .header-nav {
    width: 40%;
  }
}
.dropdown-menu {
  border: 1px solid #d5dfe4;
  border-radius: 4px;
}
.dropdown-item {
  font-size: 14px;
  color: #425a8b;
}
.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:hover {
  color: #425a8b;
  text-decoration: none;
  background-color: #d5dfe4;
}

.dropdown-language .dropdown-item img {
  margin-right: 5px;
}

.dropdown-account {
  width: 200px;
  right: 0;
  display: none;
  visibility: hidden;
  position: absolute;
  top: calc(100% + 22px);
  z-index: 99;
  width: 220px;
  background-color: #fff;
  padding: 22px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 0 0 4px 4px;
  border: 1px solid #d5dfe4;
}
.dropdown-account.dropdown-open {
  display: block;
  visibility: visible;
}
.dropdown-account ul li {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 20px;
}
.dropdown-account ul li:last-child {
  margin: 0;
}
.dropdown-account ul li a {
  color: #425a8b;
}
.dropdown-account ul li a:hover {
  color: #0ba9ed;
}

.item-cart {
  display: flex;
  text-align: left;
}
.item-cart .cart-image {
  min-width: 80px;
  max-width: 80px;
  margin-right: 15px;
}
.item-cart .cart-image img {
  width: 100%;
}
.item-cart .color-brand-3:hover {
  color: #0ba9ed !important;
}

.mobile-header-wrapper-style {
  position: fixed;
  top: 0;
  width: 360px;
  min-height: 100vh;
  bottom: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.09);
  z-index: 1003;
}
.mobile-header-wrapper-style.sidebar-visible {
  visibility: visible;
  opacity: 1;
  transform: translate(0, 0);
}
.mobile-header-wrapper-style .mobile-header-wrapper-inner {
  padding: 0px 0px 30px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.mobile-header-wrapper-style .mobile-header-wrapper-inner .mobile-header-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  background-color: #ffffff;
  align-items: center;
  align-self: center;
  border-bottom: 0;
  margin-bottom: 15px;
}
.mobile-header-wrapper-style
  .mobile-header-wrapper-inner
  .mobile-header-content-area {
  padding: 30px 30px 30px;
}
.mobile-header-wrapper-style
  .mobile-header-wrapper-inner
  .mobile-header-content-area
  .mobile-menu-wrap
  nav
  .mobile-menu {
  max-width: 300px;
}
.mobile-header-wrapper-style
  .mobile-header-wrapper-inner
  .mobile-header-content-area
  .mobile-menu-wrap
  nav
  .mobile-menu
  li {
  display: block;
  position: relative;
  padding: 13px 0;
}
.mobile-header-wrapper-style
  .mobile-header-wrapper-inner
  .mobile-header-content-area
  .mobile-menu-wrap
  nav
  .mobile-menu
  li:last-child {
  border-bottom: none;
}
.mobile-header-wrapper-style
  .mobile-header-wrapper-inner
  .mobile-header-content-area
  .mobile-menu-wrap
  nav
  .mobile-menu
  li.has-children
  .menu-expand {
  left: 0;
  position: absolute;
  cursor: pointer;
  z-index: 9;
  text-align: center;
  font-size: 12px;
  display: block;
  width: 30px;
  height: 30px;
  line-height: 38px;
  top: 5px;
  color: #425a8b;
}
.mobile-header-wrapper-style
  .mobile-header-wrapper-inner
  .mobile-header-content-area
  .mobile-menu-wrap
  nav
  .mobile-menu
  li.has-children
  .menu-expand
  i {
  font-size: 18px;
  font-weight: 300;
  opacity: 0.5;
}
.mobile-header-wrapper-style
  .mobile-header-wrapper-inner
  .mobile-header-content-area
  .mobile-menu-wrap
  nav
  .mobile-menu
  li.has-children.active
  > .menu-expand {
  background: rgba(255, 255, 255, 0.2);
}
.mobile-header-wrapper-style
  .mobile-header-wrapper-inner
  .mobile-header-content-area
  .mobile-menu-wrap
  nav
  .mobile-menu
  li.has-children.active
  > .menu-expand
  i::before {
  content: "\f113";
}
.mobile-header-wrapper-style
  .mobile-header-wrapper-inner
  .mobile-header-content-area
  .mobile-menu-wrap
  nav
  .mobile-menu
  li
  a {
  font-size: 16px;
  font-family: Alexandria, sans-serif;
  line-height: 1;
  text-transform: capitalize;
  font-weight: 500;
  position: relative;
  display: inline-block;
  color: #425a8b;
  transition-duration: 0.2s;
}
.mobile-header-wrapper-style
  .mobile-header-wrapper-inner
  .mobile-header-content-area
  .mobile-menu-wrap
  nav
  .mobile-menu
  li
  a
  i {
  margin-right: 5px;
}
.mobile-header-wrapper-style
  .mobile-header-wrapper-inner
  .mobile-header-content-area
  .mobile-menu-wrap
  nav
  .mobile-menu
  li
  ul {
  padding: 10px 0 0 10px;
}
.mobile-header-wrapper-style
  .mobile-header-wrapper-inner
  .mobile-header-content-area
  .mobile-menu-wrap
  nav
  .mobile-menu
  li
  ul
  li {
  padding: 10px 0;
  border-bottom: none;
}
.mobile-header-wrapper-style
  .mobile-header-wrapper-inner
  .mobile-header-content-area
  .mobile-menu-wrap
  nav
  .mobile-menu
  li
  ul
  li.has-children
  .menu-expand {
  top: 0px;
}
.mobile-header-wrapper-style
  .mobile-header-wrapper-inner
  .mobile-header-content-area
  .mobile-menu-wrap
  nav
  .mobile-menu
  li
  ul
  li:hover
  a {
  padding-left: 13px;
  transition-duration: 0.2s;
}
.mobile-header-wrapper-style
  .mobile-header-wrapper-inner
  .mobile-header-content-area
  .mobile-menu-wrap
  nav
  .mobile-menu
  li
  ul
  li
  a {
  font-size: 14px;
  display: block;
  font-weight: 500;
  color: #425a8b;
  padding-left: 10px;
  position: relative;
  transition-duration: 0.2s;
}
.mobile-header-wrapper-style
  .mobile-header-wrapper-inner
  .mobile-header-content-area
  .mobile-menu-wrap
  nav
  .mobile-menu
  li
  ul
  li
  ul {
  margin-top: 0;
}
.mobile-header-wrapper-style
  .mobile-header-wrapper-inner
  .mobile-header-content-area
  .mobile-menu-wrap
  nav
  .mobile-menu
  li
  ul
  li.has-children.active {
  padding-bottom: 0;
}
.mobile-header-wrapper-style
  .mobile-header-wrapper-inner
  .mobile-header-content-area
  .mobile-menu-wrap
  nav
  .mobile-menu
  li
  ul
  li.hr {
  padding: 0 0 0 10px;
}
.mobile-header-wrapper-style
  .mobile-header-wrapper-inner
  .mobile-header-content-area
  .mobile-menu-wrap
  nav
  .mobile-menu
  li
  ul
  li.hr
  span {
  background-color: #dde4f0;
  height: 1px;
  width: 100%;
  display: block;
  margin: 5px 0;
}
.mobile-header-wrapper-style
  .mobile-header-wrapper-inner
  .mobile-header-content-area
  .mobile-menu-wrap
  nav
  .mobile-menu
  li:hover
  > a {
  color: #425a8b;
  padding-left: 3px;
  transition-duration: 0.2s;
}
.mobile-header-wrapper-style
  .mobile-header-wrapper-inner
  .mobile-header-content-area
  .categories-dropdown-wrap
  ul
  li
  a {
  padding: 5px 15px;
}
.mobile-header-wrapper-style
  .mobile-header-wrapper-inner
  .mobile-header-content-area
  .mobile-header-info-wrap {
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #425a8b;
  margin: 17px 0 30px 0;
}
.mobile-header-wrapper-style
  .mobile-header-wrapper-inner
  .mobile-header-content-area
  .mobile-header-info-wrap
  .single-mobile-header-info {
  position: relative;
  margin-bottom: 13px;
}
.mobile-header-wrapper-style
  .mobile-header-wrapper-inner
  .mobile-header-content-area
  .mobile-header-info-wrap
  .single-mobile-header-info:last-child {
  margin-bottom: 0;
}
.mobile-header-wrapper-style
  .mobile-header-wrapper-inner
  .mobile-header-content-area
  .mobile-header-info-wrap
  .single-mobile-header-info
  a {
  font-size: 14px;
  display: block;
  font-weight: 500;
  color: #425a8b;
}
.mobile-header-wrapper-style
  .mobile-header-wrapper-inner
  .mobile-header-content-area
  .mobile-header-info-wrap
  .single-mobile-header-info
  a:hover {
  color: #425a8b;
}
.mobile-header-wrapper-style
  .mobile-header-wrapper-inner
  .mobile-header-content-area
  .mobile-header-info-wrap
  .single-mobile-header-info
  a
  i {
  font-size: 14px;
  color: #425a8b;
  margin-right: 8px;
}
.mobile-header-wrapper-style
  .mobile-header-wrapper-inner
  .mobile-header-content-area
  .mobile-header-info-wrap
  .single-mobile-header-info
  .lang-curr-dropdown {
  margin-top: 5px;
  display: none;
  background-color: transparent;
  box-shadow: none;
  padding: 10px 0 0 0;
  width: 100%;
  z-index: 11;
}
.mobile-header-wrapper-style
  .mobile-header-wrapper-inner
  .mobile-header-content-area
  .mobile-header-info-wrap
  .single-mobile-header-info
  .lang-curr-dropdown
  ul
  li {
  padding-bottom: 10px;
}
.mobile-header-wrapper-style
  .mobile-header-wrapper-inner
  .mobile-header-content-area
  .mobile-header-info-wrap
  .single-mobile-header-info
  .lang-curr-dropdown
  ul
  li:last-child {
  padding-bottom: 0px;
}
.mobile-header-wrapper-style
  .mobile-header-wrapper-inner
  .mobile-header-content-area
  .mobile-header-info-wrap
  .single-mobile-header-info
  .lang-curr-dropdown
  ul
  li
  a {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
}
.mobile-header-wrapper-style
  .mobile-header-wrapper-inner
  .mobile-header-content-area
  .mobile-header-info-wrap
  .single-mobile-header-info
  .lang-curr-dropdown
  ul
  li
  a:hover {
  color: #425a8b;
}
.mobile-header-wrapper-style
  .mobile-header-wrapper-inner
  .mobile-header-content-area
  .mobile-header-info-wrap
  .single-mobile-header-info:hover
  > a {
  color: #425a8b;
}
.mobile-header-wrapper-style
  .mobile-header-wrapper-inner
  .mobile-header-content-area
  .mobile-header-border {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.mobile-header-wrapper-style
  .mobile-header-wrapper-inner
  .mobile-header-content-area
  .site-copyright {
  font-size: 13px;
  color: #425a8b;
}
.burger-icon {
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: 99999999;
}
.burger-icon > span {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
}
.burger-icon > span.burger-icon-top {
  top: 2px;
}
.burger-icon > span.burger-icon-bottom {
  bottom: 2px;
}
.burger-icon > span.burger-icon-mid {
  top: 9px;
}
.burger-icon.burger-close {
  position: fixed;
  top: 32px;
  left: 30px;
}
.burger-icon.burger-close > span.burger-icon-top {
  display: none;
  opacity: 0;
}
.burger-icon.burger-close > span.burger-icon-mid {
  top: 8px;
  transform: rotate(45deg);
}
.burger-icon.burger-close > span.burger-icon-bottom {
  bottom: 10px;
  transform: rotate(-45deg);
}

.burger-icon > span::before,
.burger-icon > span::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #333;
}

.burger-icon.burger-icon-white > span::before,
.burger-icon.burger-icon-white > span::after {
  background-color: #8c9ec5;
}

.mobile-search form {
  background-color: #eae4e9;
  border-radius: 8px;
  height: 44px;
  padding: 0px 15px 0px 44px;
  position: relative;
}
.mobile-search form input {
  border: 0;
  background-color: transparent;
  width: 100%;
  padding: 12px 10px;
}
.mobile-search form i {
  position: absolute;
  left: 18px;
  top: 14px;
  font-size: 18px;
  color: #5971a3;
}
.search-form form {
  position: relative;
}
.search-form form input {
  border: 1px solid #ececec;
  border-radius: 10px;
  height: 64px;
  box-shadow: none;
  padding-left: 20px;
  font-size: 16px;
  width: 100%;
}
.search-form form button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  border: none;
  font-size: 20px;
  height: 100%;
  padding: 0 24px;
  background-color: transparent;
  color: #242424;
}

#scrollUp {
  width: 42px;
  height: 42px;
  color: #ffffff;
  right: 30px;
  bottom: 30px;
  border-radius: 30px;
  text-align: center;
  overflow: hidden;
  z-index: 999 !important;
  border: 0;
  background-color: #fff;
  transition-duration: 0.2s;
  background-color: #425a8b;
}
#scrollUp i {
  display: block;
  line-height: 46px !important;
  font-size: 20px;
  color: #fff;
}
#scrollUp:hover {
  transform: translateY(-3px);
  transition-duration: 0.2s;
}
.form-group {
  margin-bottom: 15px;
}
.form-register .btn-buy {
  padding: 14px 22px;
}
.form-register .form-control {
  padding: 14px 20px;
}
.form-register .form-group {
  margin-bottom: 22px;
}

.form-tracking .form-control {
  height: 54px;
}
.form-tracking .btn-buy {
  height: 54px;
  line-height: 34px;
}
.form-tracking .box-input {
  width: 100%;
  margin-right: 15px;
}
.form-tracking .box-button {
  width: 10%;
  min-width: 185px;
  max-width: 185px;
}

#tab-setting .form-control {
  min-height: 44px;
}

/* ibrahim mohamed edits */
/* mobile menu button to open sidebar */
/* appear image when menue not closed */
.burger-icon-white span,
.main-header .burger-close {
  display: none !important;
}

/* hide image when menue not closed */
.mobile-header-wrapper-style,
.burger-icon {
  left: auto !important;
}

/* to macke scroll bar right */
.mobile-header-wrapper-style .mobile-header-wrapper-inner {
  direction: ltr;
}
.mobile-header-content-area {
  direction: rtl;
}

/* removing quick menue from mobile screen */
@media (max-width: 770px) {
  .box-quickmenu {
    display: none;
  }
}

@media (max-width: 720px) {
  a[class="btn btn-whatsapp"] {
    display: none;
  }
}

/**************** cart styles ***********************/

/* order status */
.order_status {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
  width: 50%;
  margin: 0 auto;
  direction: ltr;
}

@media (max-width: 770px) {
  .order_status {
    width: 90%;
  }
}

.order_status .order_status_item {
  width: 10%;
  margin: 0 auto;
}

.order_status .order_status_item .icon {
  width: 100%;
}

.order_status .order_status_item .icon img {
  width: 100%;
}

.order_status .title {
  text-align: left;
  font-weight: 700;
  color: #000000;
  white-space: nowrap;
  width: 100%;
  font-size: 100%;
  margin-top: 10px;
}

@media (max-width: 770px) {
  .order_status .title {
    font-size: 50%;
    margin-top: 5px;
  }
}

.order_status .line {
  display: block;
  width: 20%;
  border: 1px solid #d9d9d9;
  margin-bottom: 25px;
}

.order_status .ornge {
  border: 1px solid #fd9636 !important;
}

.orange-color {
  color: #fd9636 !important;
}

/*************** order page  ***********/
.changeLocation {
  display: flex;
  width: 65%;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  margin: 40px auto;
  direction: ltr;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
}

.changeLocation div {
  display: flex;
  gap: 10px;
}

.changeLocation div .locationIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fd9636;
  display: flex;
  align-items: center;
  justify-content: center;
}

.changeLocation div .locationIcon i {
  font-size: 16px;
  color: #fff;
}

.changeLocation div .locationDec {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.changeLocation div .locationDec span {
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  color: #000;
}

.changeLocation div .locationDec p {
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  color: #000;
}

.changeLocation button {
  padding: 7px 5px;
  background: #fd9636;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
}

/* add location section */
.addLocation {
  padding: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  width: 100%;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 1s ease-out;
  width: 99%;
  gap: 3px;
}

.section-header .arrow {
  transition: all 1s ease-out;
  color: #8b8b8b;
  font-size: 16px;
}

.section-header span {
  font-size: 16px;
  font-weight: 500;
  text-wrap: nowrap;
  color: #000;
}

.LocationLine {
  width: 100%;
  border-top: 1px solid #d9d9d9;
}

.section-items {
  margin-top: 10px;
  transition: all 1s ease-out;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  width: 100%;
}

.section-items .show {
  display: block;
  opacity: 1;
}

.inputsRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  direction: ltr;
  margin: 0 auto;
}

.location-form-group {
  padding: 10px;
  margin: 10px;
  position: relative;
  width: 100%;
}
.location-form-group > label {
  position: absolute;
  top: -1px;
  right: 20px;
  background-color: #fff;
  color: #a6a6a6;
}

.location-form-group > label span {
  color: #ff1212;
}

.location-form-group > input {
  border: 1px solid #d9d9d9 !important;
  width: 100%;
}

.inputsRow .location-form-group:nth-child(1),
.inputsRow .location-form-group:nth-child(2) {
  width: 35%;
}

.inputsRow .location-form-group:nth-child(3) {
  width: 25%;
}

.inputsRow:nth-child(2) {
  justify-content: flex-start;
}

.inputsRow:nth-child(2) .location-form-group {
  width: 45%;
}

.saveLocation {
  justify-content: flex-start;
  gap: 5px;
  width: 85%;
  color: #5c5c5c;
}

.checkBox {
  accent-color: #fd9636;
}

.chckBtns {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  direction: ltr;
}

@media (max-width: 400px) {
  .chckBtns {
    width: 100% !important;
  }
}

@media (max-width: 997px) {
  .changeLocation {
    width: 90%;
  }

  .inputsRow {
    flex-direction: column;
    align-items: flex-start;
    direction: ltr !important;

    .location-form-group {
      width: 100% !important;
    }
  }

  .inputsRow .form-group {
    width: 100% !important;
  }

  .saveLocation {
    flex-direction: row;
  }
}

@media (max-width: 770px) {
  .changeLocation div .locationIcon {
    width: 30px;
    height: 30px;
  }
  .changeLocation {
    width: 100%;
  }
  .changeLocation div .locationDec p {
    font-size: 6px;
  }

  .changeLocation div .locationDec span {
    font-size: 14px;
  }
  .changeLocation button {
    font-size: 8px;
  }
}

/*************** payment page  ***********/
.payments {
  display: flex;
  direction: ltr;
  flex-direction: column;
  width: 65%;
  margin: 50px auto 10px;
}

.payments h4 {
  color: #fd9636;
  text-align: right;
}

.payments span {
  color: #000;
  letter-spacing: -0.01em;
  text-align: right;
}

.payments .payment-methods {
  display: grid;
  align-items: center;
  gap: 30px;
  margin-top: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.payments .payment-methods .method {
  border: 1px solid #cacaca;
  border-radius: 10px;
  background: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 170px;
  cursor: pointer;
}

.payments .payment-methods .pay-now {
  padding: 40px 60px;
  gap: 15px;
}

.payments .payment-methods .pay-now .icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.payments .payment-methods .pay-now .icons img {
  width: 30%;
}

.payments .payment-methods .installment {
  padding: 20px 80px;
}

.payments .payment-methods .method .method-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: #fd9636;
}

.methods {
  display: none;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
  transition: all 1s ease-out;
}

.methods div {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding: 8px 5px;
  width: 150px;
  font-size: 18px;
  font-weight: 400;
  color: #000;
}

.choosed-method {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 10px auto;
  height: 300px;
  border: 1px solid #ccc5b9;
  color: #000;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 36.85px;
}

@media (max-width: 500px) {
  .payments {
    width: 100%;
  }
  .payments .payment-methods {
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }

  .payments .payment-methods .pay-now {
    padding: 20px 30px;
  }

  .payments .payment-methods .installment {
    padding: 20px 40px;
  }

  .methods {
    justify-content: center;
    flex-wrap: wrap;
  }
}