.productAdditionsModal {
    .modal-dialog {
      max-width: 1116px !important;
  
      .modal-content {
        padding: clamp(14px, 1.3541666666666667vw, 26px);
        margin: 100px auto;
  
        .modal-header {
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: space-between;
  
          .modal-title {
            border-inline-start: 3px solid #fd9636;
            padding-inline-start: clamp(8px, 1.09375vw, 21px);
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            gap: clamp(2px, 0.3645833333333333vw, 7px);
  
            h4 {
              font-family: Alexandria;
              font-size: clamp(8px, 0.7291666666666666vw, 14px);
              font-weight: 300;
              line-height: clamp(10px, 1.25vw, 24px);
              letter-spacing: 0.20000000298023224px;
              color: #000;
            }
  
            h3 {
              font-family: Alexandria;
              font-size: clamp(10px, 1.0416666666666665vw, 20px);
              font-weight: 400;
              line-height: clamp(18px, 1.25vw, 24px);
              letter-spacing: 0.20000000298023224px;
              color: #000;
            }
          }
  
          .modal-buttons {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: clamp(7px, 0.5208333333333333vw, 10px);
  
            button {
              width: clamp(62px, 8.333333333333332vw, 160px);
              height: clamp(38px, 3.125vw, 60px);
              font-family: Alexandria;
              font-size: clamp(8px, 0.8333333333333334vw, 16px);
              font-weight: 600;
              line-height: 24px;
              letter-spacing: 0.20000000298023224px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: clamp(8px, 0.625vw, 12px);
              border: none;
            }
  
            .productAdditionsModalSubmit {
              background: #fd9636;
              color: #fff;
            }
  
            .productAdditionsModalClose {
              background: transparent;
              border: 1px solid #fd9636;
              color: #fd9636;
            }
          }
        }
  
        .modal-body {
          display: flex;
          align-items: start;
          justify-content: start;
          flex-direction: column;
          gap: clamp(5px, 0.78125vw, 15px);
          width: 100%;
  
          .addition-item {
            display: flex;
            align-items: center;
            justify-content: start;
            width: 100%;
            border: 1px solid #f1f1f2;
            border-radius: clamp(8px, 0.625vw, 12px);
            padding: clamp(5px, 0.5208333333333333vw, 10px)
              clamp(10px, 0.7291666666666666vw, 14px);
  
            .addition-info {
              display: flex;
              align-items: center;
              justify-content: start;
              gap: clamp(10px, 1.0416666666666665vw, 20px);
              width: 100%;
  
              .addition-checkbox {
                width: clamp(22px, 1.5625vw, 30px);
                height: clamp(22px, 1.5625vw, 30px);
  
                input {
                  width: 100%;
                  height: 100%;
                }
              }
  
              .addition-img {
                img {
                  width: clamp(77px, 5.052083333333333vw, 97px);
                }
              }
  
              .addition-title {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
  
                .addition-title-text {
                  font-family: Alexandria;
                  font-size: clamp(10px, 1.0416666666666665vw, 20px);
                  font-weight: 400;
                  line-height: 24px;
                  letter-spacing: 0.20000000298023224px;
                  color: #000;
                }
  
                .addition-price {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  gap: clamp(5px, 0.5208333333333333vw, 10px);
  
                  .newPrice {
                    font-family: Alexandria;
                    font-size: clamp(10px, 1.25vw, 24px);
                    font-weight: 700;
                    line-height: 24px;
                    color: #425a8b;
                    text-wrap: nowrap;
                  }
  
                  .old-price {
                    font-family: Alexandria;
                    font-size: clamp(8px, 1.0416666666666665vw, 20px);
                    font-weight: 400;
                    line-height: 24px;
                    color: #8c9ec5;
                    text-decoration: line-through;
                    text-wrap: nowrap;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  
  body.dark {
    .productAdditionsModal {
      .modal-dialog {
        .modal-content {
          border: 1px solid var(--dark-mode-white);
          background: var(--dark-mode-second);
  
          .modal-header {
            .modal-title {
              h4 {
                color: #fff1f6;
              }
  
              h3 {
                color: #fff;
              }
            }
          }
  
          .modal-body {
            .addition-item {
              border: 1px solid var(--dark-mode-white);
  
              .addition-info {
                .addition-title {
                  .addition-title-text {
                    color: #fff;
                  }
  
                  .addition-price {
                    .newPrice {
                      color: #fff;
                    }
  
                    .old-price {
                      color: #a6a6a6;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }