/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ///////////////////////////////////////// */
/* container */
@media (min-width: 1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1540px !important;
        padding: 0 !important;
    }
}

@media (max-width: 576px) {
    .no-padding-container {
        padding: 0 !important;
    }
}

/* /////////////////////////////////// */
/* seller1 styles */
.container {
    .content-wrapper {
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: start;
        margin-top: clamp(15px, 1.4583333333333333vw, 28px);
        gap: 10px;

        form{
            width: 58.441558%;
            .page-details {
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: start;
                border: 1px solid #f1f1f2;
                border-radius: 12px;
                padding: clamp(0px, 0.78125vw, 15px);
                box-shadow: 0px 3px 4px 0px #00000008;
                width: 100%;

                .page-heade {
                    width: 100%;
                    display: flex;
                    align-items: start;
                    justify-content: start;
                    flex-direction: column;
                    border-inline-start: 2px solid #fd9636;
                    padding-inline-start: clamp(10px, 0.78125vw, 15px);
                    gap: clamp(5px, 0.5208333333333333vw, 10px);

                    h2 {
                        font-family: Alexandria;
                        font-size: clamp(14px, 1.5625vw, 30px);
                        font-weight: 500;
                        line-height: clamp(20px, 2.083333333333333vw, 40px);
                        color: #000;
                    }

                    span {
                        font-family: Alexandria;
                        font-size: clamp(8px, 0.6770833333333334vw, 13px);
                        font-weight: 400;
                        line-height: 14px;
                        color: #000;
                    }
                }

                .page-steps {
                    margin-top: clamp(18px, 1.5625vw, 30px);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    gap: 10px;

                    .step {
                        width: clamp(30px, 2.9166666666666665vw, 56px);
                        height: clamp(30px, 2.9166666666666665vw, 56px);
                        border: 1px solid #8c9ec54d;
                        border-radius: 6px;
                        color: #fd9636;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-family: Alexandria;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 14px;
                    }

                    .step.active {
                        background-color: #fd9636;
                        color: #fff;
                    }

                    .steps-border {
                        width: clamp(80px, 15.572916666666666vw, 299px);
                        /* border: 1px dashed #8c9ec5; */
                        border: 1px dashed transparent;
                        background-color: #8c9ec5;
                        mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="4" height="4"><rect width="2" height="4" fill="white" /></svg>');
                        mask-size: 20px 100%;
                    }

                    .steps-border.passed {
                        width: clamp(80px, 15.572916666666666vw, 299px);
                        /* border: 1px dashed #8c9ec5; */
                        border: 1px dashed transparent;
                        background-color: #fd9636;
                        mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="4" height="4"><rect width="2" height="4" fill="white" /></svg>');
                        mask-size: 20px 100%;
                    }

                    .steps-border.active {
                        border: 1px dashed transparent;
                        mask-image: url('data:image/svg+xml;utf8,\<svg xmlns="http://www.w3.org/2000/svg" width="4" height="4">\<rect width="2" height="4" fill="white" />\</svg>');
                        mask-size: 20px 100%;
                        border-image-source: linear-gradient(90deg, #8c9ec5 0%, #fd9636 70%);
                        border-image-slice: 10;
                    }
                }

                .page-from {
                    display: flex;
                    align-items: start;
                    justify-content: start;
                    flex-direction: column;
                    margin-top: clamp(18px, 1.5625vw, 30px);
                    width: 100%;
                    border: 1px solid #f1f1f2;
                    padding: clamp(8px, 1.0416666666666665vw, 20px);
                    border-radius: 8px;
                    box-shadow: 0px 3px 4px 0px #00000008;

                    .form {
                        display: flex;
                        align-items: start;
                        justify-content: start;
                        flex-wrap: wrap;
                        width: 100%;
                        gap: clamp(15px, 1.5625vw, 30px);

                        .pageFormInput {
                            display: flex;
                            flex-direction: column;
                            align-items: start;
                            justify-content: start;
                            width: 48.17%;
                            gap: clamp(10px, 0.78125vw, 15px);

                            label {
                                font-family: Alexandria;
                                font-size: clamp(10px, 0.7291666666666666vw, 14px);
                                font-weight: 500;
                                line-height: 15px;
                                letter-spacing: -0.01em;
                                color: #000;
                            }

                            .inputContainer {
                                width: 100%;
                                border: 1px solid #e1e3ea;
                                display: flex;
                                align-items: center;
                                justify-content: start;
                                border-radius: 6px;
                                overflow: hidden;
                                padding-inline-end: 5px;

                                .inputIconContainer {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    width: 48px;
                                    height: 48px;
                                    border-inline-end: 1px solid #e1e3ea;
                                    background-color: #f9f9f9;
                                }

                                input,
                                select {
                                    border: none;
                                    outline: none;
                                    width: calc(100% - 48px);
                                    padding: 17px 15px;
                                    font-family: Alexandria;
                                    font-size: 12px;
                                    font-weight: 500;
                                    line-height: 14px;
                                    color: #7e8299;
                                }
                            }

                            .textContainer {
                                background-color: #f9f9f9;
                                width: 100%;
                                display: flex;
                                align-items: start;
                                justify-content: start;
                                overflow: hidden;
                                padding-inline-end: 5px;
                                flex-direction: column;
                                padding: 12px;
                                border-radius: 6px;

                                label {
                                    font-family: Alexandria;
                                    font-size: 11px;
                                    font-weight: 600;
                                    line-height: 12px;
                                    color: #a1a5b7;
                                }

                                textarea {
                                    width: 100%;
                                    border: none;
                                    outline: none;
                                    padding: 17px 15px;
                                    font-family: Alexandria;
                                    font-size: 12px;
                                    font-weight: 500;
                                    line-height: 14px;
                                    color: #7e8299;
                                    background: transparent;
                                }
                            }
                        }

                        .checkContainer {
                            width: 100%;
                            display: flex;
                            align-items: start;
                            justify-content: start;
                            flex-direction: column;
                            gap: 20px;

                            span {
                                font-family: Alexandria;
                                font-size: clamp(12px, 0.7291666666666666vw, 14px);
                                font-weight: 500;
                                line-height: 15px;
                                letter-spacing: -0.01em;
                                color: #000;
                            }

                            .checkboxes {
                                display: flex;
                                align-items: center;
                                justify-content: start;
                                gap: clamp(20px, 4.6875vw, 90px);

                                .checkbox {
                                    display: flex;
                                    align-items: center;
                                    justify-content: start;
                                    gap: 10px;

                                    input {
                                        width: 30px;
                                        height: 30px;
                                        border-radius: 6px;
                                    }

                                    label {
                                        font-family: Alexandria;
                                        font-size: 13px;
                                        font-weight: 600;
                                        line-height: 14px;
                                        color: #5e6278;
                                    }
                                }
                            }
                        }
                    }

                    .product-images {
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        justify-content: start;
                        margin-top: clamp(18px, 1.5625vw, 30px);
                        gap: clamp(10px, 1.0416666666666665vw, 20px);

                        .product-images-head {
                            display: flex;
                            align-items: center;
                            justify-content: start;
                            gap: 10px;

                            span {
                                font-family: Alexandria;
                                font-size: clamp(12px, 0.7291666666666666vw, 14px);
                                font-weight: 500;
                                line-height: 15px;
                                letter-spacing: -0.01em;
                                color: #000;
                            }

                            span.red {
                                font-size: clamp(8px, 0.5208333333333333vw, 10px);
                                color: #ff1212;

                                svg {
                                    cursor: pointer;
                                }
                            }
                        }

                        .product-images-inputs {
                            display: flex;
                            flex-wrap: wrap;
                            width: 100%;
                            align-items: start;
                            justify-content: start;
                            gap: 10px;

                            .imgInput {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                flex-direction: column;
                                width: clamp(50px, 4.166666666666666vw, 80px);
                                height: clamp(50px, 4.166666666666666vw, 80px);
                                gap: clamp(5px, 0.625vw, 12px);
                                border: 1px dashed #7e8299;
                                border-radius: 8px;
                                overflow: hidden;
                                position: relative;

                                span {
                                    font-family: Inter;
                                    font-size: 10px;
                                    font-weight: 600;
                                    line-height: clamp(6px, 0.5208333333333333vw, 10px);
                                    color: #7e8299;
                                }

                                img {
                                    width: 100%;
                                    height: 100%;
                                }

                                button{
                                    position: absolute;
                                    top: 2px;
                                    inset-inline-start: 2px;
                                    background-color: transparent;
                                    border: none;
                                    outline: none;
                                    width: 15px;
                                    height: 15px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;

                                    svg{
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                            }

                            .imgInput:has(.img) {
                                border: 1px solid #f1f1f2;
                            }
                        }
                    }
                }

                .page-social {
                    margin-top: clamp(18px, 1.5625vw, 30px);
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: start;
                    gap: clamp(12px, 1.0416666666666665vw, 20px);
                    width: 100%;

                    h2 {
                        font-family: Alexandria;
                        font-size: clamp(10px, 0.7291666666666666vw, 14px);
                        font-weight: 500;
                        line-height: 15px;
                        letter-spacing: -0.01em;
                        color: #000;
                    }

                    .social-content {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        align-items: start;
                        justify-content: start;
                        gap: clamp(12px, 1.0416666666666665vw, 20px);

                        .social-item {
                            display: flex;
                            width: 100%;
                            gap: clamp(10px, 0.78125vw, 15px);
                            align-items: center;
                            justify-content: start;

                            .action-icon {
                                width: clamp(24px, 1.4583333333333333vw, 28px);
                                height: clamp(24px, 1.4583333333333333vw, 28px);
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }

                            .action-icon:has(svg){
                                cursor: pointer;
                            }

                            .platform {
                                border: 1px solid #e1e3ea;
                                height: 48px;
                                width: clamp(110px, 6.354166666666666vw, 122px);
                                border-radius: 6px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                padding: 10px;

                                select {
                                    border: none;
                                    outline: none;
                                    width: 100%;
                                }
                            }

                            .platformUrl {
                                border: 1px solid #e1e3ea;
                                border-radius: 6px;
                                height: 48px;
                                width: clamp(200px, 32.239583333333336vw, 619px);
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                input {
                                    outline: none;
                                    border: none;
                                    width: 100%;
                                    padding: 10px;
                                    font-family: Alexandria;
                                    font-size: 12px;
                                    font-weight: 500;
                                    line-height: 14px;
                                    color: #7e8299;
                                }
                            }
                        }
                    }
                }

                .page-btn {
                    display: flex;
                    align-items: start;
                    justify-content: space-between;
                    width: 100%;
                    margin-top: clamp(18px, 1.5625vw, 30px);

                    button {
                        border: none;
                        outline: none;
                        background-color: #fd9636;
                        border-radius: 6px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 8px;
                        font-family: Alexandria;
                        font-size: clamp(12px, 0.8333333333333334vw, 16px);
                        font-weight: 600;
                        line-height: 16px;
                        color: #ffff;
                        width: clamp(99px, 9.583333333333334vw, 184px);
                        height: clamp(44px, 3.3854166666666665vw, 65px);
                    }
                }

                .branches {
                    display: flex;
                    align-items: start;
                    justify-content: start;
                    flex-direction: column;
                    gap: clamp(15px, 1.5625vw, 30px);
                    margin-top: clamp(15px, 1.5625vw, 30px);
                    width: 100%;

                    .branchNumbers {
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        gap: 20px;

                        span {
                            font-family: Alexandria;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 15px;
                            letter-spacing: -0.01em;
                            color: #000;
                        }

                        .branchCOunter {
                            display: flex;
                            align-items: center;
                            justify-content: start;
                            border: 1px solid #f1f1f2;
                            border-radius: 8px;
                            overflow: hidden;

                            div {
                                border: none;
                                outline: none;
                                width: 33px;
                                height: 37px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background: #fff;
                            }

                            .counterInput {
                                background: #8c9ec533;
                                width: 33px;
                                height: 37px;
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                input {
                                    font-family: Poppins;
                                    font-size: 18px;
                                    font-weight: 600;
                                    line-height: 19.98px;
                                    letter-spacing: 0.005em;
                                    color: #fd9636;
                                    border: none;
                                    outline: none;
                                    background: transparent;
                                    max-width: 100%;
                                    padding-inline-start: 10px;
                                }
                            }

                            input[type="number"]::-webkit-outer-spin-button,
                            input[type="number"]::-webkit-inner-spin-button {
                                -webkit-appearance: none;
                                margin: 0;
                            }

                            input[type="number"] {
                                appearance: textfield;
                                -moz-appearance: textfield;
                            }
                        }
                    }

                    .branchesLocations {
                        display: flex;
                        align-items: start;
                        justify-content: start;
                        gap: 20px;
                        flex-direction: column;
                        width: 100%;

                        span {
                            font-family: Alexandria;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 15px;
                            letter-spacing: -0.01em;
                            color: #000;
                        }

                        .loactionItems {
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            align-items: start;
                            justify-content: start;
                            gap: clamp(10px, 1.0416666666666665vw, 20px);

                            .locationItem {
                                width: 100%;
                                border: 1px solid #e1e3ea;
                                border-radius: 6px;
                                height: 48px;
                                display: flex;
                                align-items: center;
                                justify-content: start;
                                padding: 0 20px;

                                input {
                                    width: 100%;
                                    border: none;
                                    outline: none;
                                }
                            }
                        }
                    }
                }

                /* .page-btn {
                  display: flex;
                  align-items: start;
                  justify-content: start;
                  width: 100%;
                  margin-top: clamp(18px, 1.5625vw, 30px);

                  button {
                    border: none;
                    outline: none;
                    background-color: #fd9636;
                    border-radius: 6px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;
                    font-family: Alexandria;
                    font-size: clamp(12px, 0.8333333333333334vw, 16px);
                    font-weight: 600;
                    line-height: 16px;
                    color: #ffff;
                    width: clamp(99px, 9.583333333333334vw, 184px);
                    height: clamp(44px, 3.3854166666666665vw, 65px);
                  }
                } */

                /* .page-btn:has(.sendBtn) {
                  align-items: center;
                  justify-content: center;

                  button {
                    width: 50%;
                  }
                } */
            }
        }


        .page-img {
            width: 40%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            border-radius: 12px;

            img {
                width: 100%;
            }
        }
    }

    @media (max-width: 999px) {
        .content-wrapper {
            flex-direction: column;

            .page-img,
            form {
                width: 100%;
            }

            .page-img {
                order: 1;
            }

            form {
                order: 2;
                border: none;
                padding: 0;
                box-shadow: none;

                .pageFormInput {
                    width: 100% !important;
                }
            }
        }
    }
}

/* ////////////////// */
/* modal style */
#senSuccessModal {
    .modal-dialog {
        max-width: 550px;
        width: clamp(283px, 28.645833333333332vw, 550px);
        margin: 0 auto;

        .modal-content {
            width: 100%;
            height: clamp(193px, 22.1875vw, 426px);
            border-radius: 40px;
            display: flex;
            align-items: center;
            justify-content: center;

            .modal-body {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: clamp(15px, 1.5625vw, 30px);
                flex-direction: column;

                svg {
                    width: clamp(72px, 7.5vw, 144px);
                    height: clamp(72px, 7.5vw, 144px);
                }

                .info {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;

                    h2 {
                        font-family: Alexandria;
                        font-size: clamp(14px, 1.5625vw, 30px);
                        font-weight: 600;
                        line-height: clamp(20px, 2.604166666666667vw, 50px);
                        color: #000;
                    }

                    span {
                        font-family: Alexandria;
                        font-size: clamp(10px, 1.0416666666666665vw, 20px);
                        font-weight: 400;
                        line-height: clamp(20px, 2.083333333333333vw, 40px);
                        color: #000;
                    }
                }
            }
        }
    }
}